.sideBar {
    /* background-color: rgb(31, 31, 31);
    width: 250px;
    height: 100vh; */
    position: fixed;
    top: 0;
    left: -250px;
    transition: .3s;
}

.active {
    left: 0;
}

.sideX {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 2vh;
    right: 20px;
    cursor: pointer;
    /* transition: .3s; */

}




.sideBar ul {
    margin-top: 0;
    background-color:RGB(65, 70, 88);
    width: 200px;
    height: 100vh;
    padding-top: 70px;



}

.sideBar ul li {

    list-style: none;

}

.sideBar ul a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    font-size: 25px;
    line-height: 70px;
    font-weight: 500;

}

.sideBar ul a:hover {
    color: RGB(192, 70, 51);
}

.sideBarBtn {
    
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: .3s;
    margin-left: 15px;
    margin-top: 100px;
    display: inline-block;



}

.sideBarBtn span {
    font-size: 28px;
}

.fa-solid,
.fas {
    font-weight: 900;
    font-size: x-large;
    padding: 5px;
}

#sec1 {
    background-color: RGB(187, 64, 57);
    height: 600px;



}

.sec1Active {
    margin-left: 200px;
    transition: .3s;
}

.textLogo {
    text-align: center;
    padding-top: 150px;
    color: rgb(255, 255, 255);

}


.textLogo h1 {
    font-size: 70px;
}


#sec2 {
    background: #ffffff;
}



.wrapper {
    margin: 50px auto;
    width: 70%;
    cursor: pointer;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper p {
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    display: none;
    background:rgb(207, 186, 186);
    color: #000;
    margin: 0;
}

.top-area {
    height: 70px;
    background-color:RGB(187, 64, 57);
    color: #ffffff;
}

.top-area h2 {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 25px;
    font-weight: 400;

}

.top-area i {
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.top-area h2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.single-coundown {
    display: inline-block;
    width: 200px;
    border: #ffffff solid 1px;
    padding: 50px;
    margin: 80px 50px;

}

#countdown-active {
    background-color: RGB(187, 64, 57);
    color: #ffffff;
    margin: auto;
    text-align: center;

}

.btn-form{
    background-color:RGB(187, 64, 57);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    
}
#characters-counter{
    color:RGB(187, 64, 57);
    font-size: 22px;
}
.container{
    padding-top: 150px ;
    padding-bottom: 150px;
}
.text-p{
    color: rgb(89, 89, 89);
    font-size: 16px;
}
.text-p i{
    margin-right: 15px;

}
.text-p span{
    color: RGB(187, 64, 57);
}
.social{
    margin-top: 60px;
    margin-bottom: 60px;
}
.social i{
    color:rgb(100, 100, 100);
    border: rgb(100, 100, 100) solid 1px;
    padding: 10px;
    margin-right:10px ;
}
